* {
	font-family: ProximaNova;
	font-weight: bold;
}

.hidden {
	visibility: hidden;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/******START CONNECTION******/
#connection_screen * {
	font-size: 4em;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
/******NOCON******/
#no_connection_screen * {
	font-size: 4em;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
/******NAME******/
#name_screen * {
	font-size: 4em;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
#name_screen input {
	display: block;
	border: none;
	border-bottom: 2px solid;
	background-color: rgba(0,0,0,0);
}
#name_screen input:focus {
	outline: none;
}
/******MAIN******/
#buzzer {
	width: 450px;
	height: 420px;
	user-select: none;
}
#buzzer::selection {
	background: rgba(0,0,0,0);
}
#theme_button {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 6px;
}
#theme_button .theme_icon {
	width: 20px;
	height: 20px;
}
#theme_name {
	color: black;
	position: absolute;
	top: 55px;
	right: 10px;
}

@font-face {
	font-family: ProximaNova;
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
	src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
	font-weight: 700;
	font-style: normal
}
